Package: ossec-metrics
Version: VERSION-PATCH~DISTRO
Section: base
Priority: optional
Architecture: amd64
Source: ossec-metrics
Build-Depends: fakeroot, make, lsb-release, openssl
Maintainer: Example <example@example.com>
Description: deb for ossec-metrics
